@model DHConfig.CONFIG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CONFIG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CONFIG_DATA_PROCESS_PROC_SCHEMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIG_DATA_PROCESS_PROC_SCHEMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFIG_DATA_PROCESS_PROC_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIG_DATA_PROCESS_PROC_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFIG_DATA_SYNC_PROC_SCHEMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIG_DATA_SYNC_PROC_SCHEMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFIG_DATA_SYNC_PROC_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIG_DATA_SYNC_PROC_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CONFIG_COMMON_NAME }) |
    @Html.ActionLink("Back to List", "Index")
</p>
