@model DHConfig.FACT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FACT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FACT_TABLE_SCHEMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACT_TABLE_SCHEMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACT_TABLE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACT_TABLE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACT_FEATURE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACT_FEATURE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTINCT_TABLE_KEY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTINCT_TABLE_KEY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTINCT_TABLE_VALUE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTINCT_TABLE_VALUE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTINCT_VALUE_PROCEDURE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTINCT_VALUE_PROCEDURE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTINCT_KEY_PROCEDURE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTINCT_KEY_PROCEDURE_NAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FACT_LOAD_PROCEDURE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACT_LOAD_PROCEDURE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACT_PRE_EXEC_SPROC_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACT_PRE_EXEC_SPROC_NAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FACT_POST_EXEC_SPROC_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACT_POST_EXEC_SPROC_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_AUTO_GENERATED_FACT_TABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_AUTO_GENERATED_FACT_TABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_AUTO_GENERATED_LOAD_PROCEDURE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_AUTO_GENERATED_LOAD_PROCEDURE)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>