@model DHConfig.FACT

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@section MyScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            function updateClean() {
                var raw = $("#FACT_COMMON_NAME").val();
                $("#FACT_TABLE_NAME").val("FACT_" + raw);
                $("#DISTINCT_TABLE_KEY_NAME").val("FACT_" + raw + "_DISTINCT_KEY");
                $("#DISTINCT_TABLE_VALUE_NAME").val("FACT_" + raw + "_DISTINCT_VALUE");
                $("#DISTINCT_VALUE_PROCEDURE_NAME").val("FACT_" + raw + "_LOAD_DISTINCT_VALUE");
                $("#DISTINCT_KEY_PROCEDURE_NAME").val("FACT_" + raw + "_LOAD_DISTINCT_KEY");
                $("#FACT_LOAD_PROCEDURE_NAME").val("FACT_" + raw + "_LOAD");
            }
            $(document).on("change, keyup, input", "#FACT_COMMON_NAME", updateClean);
        });
    </script>
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Fact</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.CONFIG_COMMON_NAME)*@

        <div class="form-group">
            @Html.LabelFor(model => model.CONFIG_COMMON_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Session["sClient"].ToString()
                @Html.ValidationMessageFor(model => model.CONFIG_COMMON_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_NAME, "DATA_SOURCE_NAME", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.DATA_SOURCE_NAME, (SelectList)ViewBag.listDataSources, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        @*@Html.HiddenFor(model => model.FACT_COMMON_NAME)*@

        <div class="form-group">
            @Html.LabelFor(model => model.FACT_COMMON_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FACT_COMMON_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FACT_COMMON_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FACT_TABLE_SCHEMA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.FACT_TABLE_SCHEMA, (SelectList)ViewBag.FACT_TABLE_SCHEMA, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FACT_TABLE_SCHEMA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FACT_TABLE_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FACT_TABLE_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.FACT_TABLE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FACT_FEATURE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    @Html.ListBoxFor(x => x.SelectedItems, (MultiSelectList)ViewBag.listFeatures, new { size = 6, width = 500 })
                </div>
                @Html.ValidationMessageFor(model => model.FACT_FEATURE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DISTINCT_TABLE_KEY_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DISTINCT_TABLE_KEY_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DISTINCT_TABLE_KEY_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DISTINCT_TABLE_VALUE_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DISTINCT_TABLE_VALUE_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DISTINCT_TABLE_VALUE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DISTINCT_VALUE_PROCEDURE_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DISTINCT_VALUE_PROCEDURE_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DISTINCT_VALUE_PROCEDURE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DISTINCT_KEY_PROCEDURE_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DISTINCT_KEY_PROCEDURE_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DISTINCT_KEY_PROCEDURE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FACT_LOAD_PROCEDURE_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FACT_LOAD_PROCEDURE_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.FACT_LOAD_PROCEDURE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FACT_PRE_EXEC_SPROC_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FACT_PRE_EXEC_SPROC_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FACT_PRE_EXEC_SPROC_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FACT_POST_EXEC_SPROC_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FACT_POST_EXEC_SPROC_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FACT_POST_EXEC_SPROC_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IS_AUTO_GENERATED_FACT_TABLE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IS_AUTO_GENERATED_FACT_TABLE)
                    @Html.ValidationMessageFor(model => model.IS_AUTO_GENERATED_FACT_TABLE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IS_AUTO_GENERATED_LOAD_PROCEDURE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IS_AUTO_GENERATED_LOAD_PROCEDURE)
                    @Html.ValidationMessageFor(model => model.IS_AUTO_GENERATED_LOAD_PROCEDURE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}