@model IEnumerable<DHConfig.FACT>

@{
    ViewBag.Title = "Index";
}

@section AddToHead{
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css">

    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            $('#dims').dataTable({
                "columnDefs": [{
                    "targets": 0,
                    "orderable": false
                },
                {
                    "targets": 1,
                    "orderable": false
                },
                {
                    "targets": 2,
                    "orderable": false
                }],
                "order": [[3, "asc"]]
            });
        });
    </script>
}




<div align="right">
    @Html.ActionLink("Create New", "Create", new { sClient = @ViewBag.sClient })
</div>

    <div>
        @Html.Partial("~/Views/CurrentClient.cshtml")
    </div>

    <table class="table table-striped table-bordered" id="facts">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.CONFIG_COMMON_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DATA_SOURCE_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FACT_TABLE_SCHEMA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FACT_TABLE_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FACT_FEATURE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DISTINCT_TABLE_KEY_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DISTINCT_TABLE_VALUE_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DISTINCT_VALUE_PROCEDURE_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DISTINCT_KEY_PROCEDURE_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FACT_LOAD_PROCEDURE_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FACT_PRE_EXEC_SPROC_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FACT_POST_EXEC_SPROC_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IS_AUTO_GENERATED_FACT_TABLE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IS_AUTO_GENERATED_LOAD_PROCEDURE)
                </th>
            </tr>
        </thead>       
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink("Edit", "Edit", new { CONFIG_COMMON_NAME = item.CONFIG_COMMON_NAME, FACT_COMMON_NAME = item.FACT_COMMON_NAME })</td>
                    <td>@Html.ActionLink("Details", "Details", new { CONFIG_COMMON_NAME = item.CONFIG_COMMON_NAME, FACT_COMMON_NAME = item.FACT_COMMON_NAME })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { CONFIG_COMMON_NAME = item.CONFIG_COMMON_NAME, FACT_COMMON_NAME = item.FACT_COMMON_NAME })</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CONFIG_COMMON_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DATA_SOURCE_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FACT_TABLE_SCHEMA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FACT_TABLE_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FACT_FEATURE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DISTINCT_TABLE_KEY_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DISTINCT_TABLE_VALUE_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DISTINCT_VALUE_PROCEDURE_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DISTINCT_KEY_PROCEDURE_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FACT_LOAD_PROCEDURE_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FACT_PRE_EXEC_SPROC_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FACT_POST_EXEC_SPROC_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IS_AUTO_GENERATED_FACT_TABLE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IS_AUTO_GENERATED_LOAD_PROCEDURE)
                    </td>
                </tr>
            }
        </tbody>

</table>

