@model DHConfig.DATA_SOURCE

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@section MyScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            function updateClean() {
                var raw = $("#DATA_SOURCE_NAME").val();
                $("#DATA_SOURCE_TABLE_NAME").val(raw);
                $("#DATA_SOURCE_RAW_VIEW_NAME").val("v" + raw);
                $("#DATA_SOURCE_TABLE_PROC_UPDATE_NAME").val("RAW_" + raw + "_UPDATE");
                $("#DATA_SOURCE_TABLE_PROC_INSERT_NAME").val("RAW_" + raw + "_INSERT");
                $("#DATA_SOURCE_TABLE_PROC_DELETE_NAME").val("RAW_" + raw + "_DELETE");
                $("#DATA_SOURCE_RAW_UI_VIEW_NAME").val("v" + raw + "_DISPLAY");
            }
            $(document).on("change, keyup, input", "#DATA_SOURCE_NAME", updateClean);
        });
    </script>
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Data Source</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CONFIG_COMMON_NAME, "CONFIG_COMMON_NAME", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Session["sClient"].ToString()
                @Html.ValidationMessageFor(model => model.CONFIG_COMMON_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TYPE_GUID, "DATA_SOURCE_TYPE_GUID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.DATA_SOURCE_TYPE_GUID, (SelectList)ViewBag.DATA_SOURCE_TYPE_GUID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TYPE_GUID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TABLE_SCHEMA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.DATA_SOURCE_TABLE_SCHEMA, (SelectList)ViewBag.DATA_SOURCE_TABLE_SCHEMA, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TABLE_SCHEMA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TABLE_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_TABLE_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TABLE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_RAW_VIEW_SCHEMA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_RAW_VIEW_SCHEMA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_RAW_VIEW_SCHEMA, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_RAW_VIEW_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_RAW_VIEW_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_RAW_VIEW_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TABLE_PROC_UPDATE_SCHEMA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_TABLE_PROC_UPDATE_SCHEMA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TABLE_PROC_UPDATE_SCHEMA, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TABLE_PROC_UPDATE_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_TABLE_PROC_UPDATE_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TABLE_PROC_UPDATE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TABLE_PROC_INSERT_SCHEMA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_TABLE_PROC_INSERT_SCHEMA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TABLE_PROC_INSERT_SCHEMA, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TABLE_PROC_INSERT_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_TABLE_PROC_INSERT_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TABLE_PROC_INSERT_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TABLE_PROC_DELETE_SCHEMA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_TABLE_PROC_DELETE_SCHEMA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TABLE_PROC_DELETE_SCHEMA, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TABLE_PROC_DELETE_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_TABLE_PROC_DELETE_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TABLE_PROC_DELETE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TABLE_PROC_DDL_PARENT_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_TABLE_PROC_DDL_PARENT_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TABLE_PROC_DDL_PARENT_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_RAW_UI_VIEW_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_RAW_UI_VIEW_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_RAW_UI_VIEW_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_FEATURE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(x => x.SelectedItems, (MultiSelectList)ViewBag.listFeatures, new { size = 3, width = 500 })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATA_SOURCE_TEST_DATA_PROC_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATA_SOURCE_TEST_DATA_PROC_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATA_SOURCE_TEST_DATA_PROC_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}