@*@using DHConfig.HtmlHelpers*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Data Hammer Config</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
 
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
@*                @Html.ActionLink("Home", "Index", "Home", new { area = "", SelectedClient = ViewBag.sClient }, new { @class = "navbar-brand" })*@                
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                   
                    <li>@Html.MenuLink("Home", "Index", "Home", new {SelectedClient = ViewBag.sClient}, new { area = "", @class = "navbar-brand" })</li>
                    @*<li>@Html.MenuLink("Clients", "Index", "CONFIGs", new { SelectedClient = ViewBag.sClient }, new { @class = "navbar-brand" })</li>*@
                    <li>@Html.MenuLink("Dimensions", "Index", "DIMs", new {SelectedClient = ViewBag.sClient}, new {@class = "navbar-brand" })</li>
                    <li>@Html.MenuLink("Dimension Fields", "Index", "DIM_FIELD", new {SelectedClient = ViewBag.sClient},  new {@class = "navbar-brand" })</li>        
                    <li>@Html.MenuLink("Dimension Types", "Index", "DIM_TYPE", new { SelectedClient = ViewBag.sClient }, new { @class = "navbar-brand" })</li>        
                    <li>@Html.MenuLink("Metric Types", "Index", "METRIC_TYPE", new { SelectedClient = ViewBag.sClient }, new { @class = "navbar-brand" })</li>   
                    <li>@Html.MenuLink("Fact", "Index", "FACTs", new { SelectedClient = ViewBag.sClient }, new { @class = "navbar-brand" })</li>   
                    <li>@Html.MenuLink("Fact Field", "Index", "FACT_FIELD", new { SelectedClient = ViewBag.sClient }, new { @class = "navbar-brand" })</li>   
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyright Capsaicin</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")    
    @RenderSection("scripts", required: false)
    @RenderSection("MyScripts", required: false)

</body>
</html>
