@model IEnumerable<DHConfig.DATA_SOURCE_TYPE>

@{
    ViewBag.Title = "Index";
}

@section AddToHead{
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css">

    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            $('#datasourcetypes').dataTable();
        });
    </script>
}

<div>
    @Html.Partial("~/Views/CurrentClient.cshtml")
</div>

<table class="table table-striped table-bordered" id="datasourcetypes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CREATE_DATE_UTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MODIFIED_DATE_UTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MODIFIED_BY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_SOURCE_TYPE_HID_STRING)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_SOURCE_TYPE_HID_LEVEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_SOURCE_TYPE_NAME)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CREATE_DATE_UTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MODIFIED_DATE_UTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MODIFIED_BY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATA_SOURCE_TYPE_HID_STRING)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATA_SOURCE_TYPE_HID_LEVEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATA_SOURCE_TYPE_NAME)
                </td>
            </tr>
        }
    </tbody>

</table>
