@model IEnumerable<DHConfig.FACT_FIELD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OBJECT_TYPE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIM_FIELD_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACT_FIELD_FEATURE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONFIG.CONFIG_DATA_PROCESS_PROC_SCHEMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACT.DATA_SOURCE_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OBJECT_TYPE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIM_FIELD_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACT_FIELD_FEATURE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONFIG.CONFIG_DATA_PROCESS_PROC_SCHEMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACT.DATA_SOURCE_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
