@model DHConfig.DIM_FIELD

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dimension Field</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CONFIG_COMMON_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Session["sClient"].ToString()
                @Html.ValidationMessageFor(model => model.CONFIG_COMMON_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<script type="text/jscript">

            var callFunction = function () {
                $.getJSON('/DIM_FIELD/DIM_COMMON_NAME_List/' + $('#CONFIG_COMMON_NAME').val(), function (data) {
                    var items;
                    $.each(data, function (i, DIM_COMMON_NAME) {
                        items += "<option value='" + DIM_COMMON_NAME.Value + "'>" + DIM_COMMON_NAME.Text + "</option>";
                    });
                    $('#DIM_COMMON_NAME').html(items);
                });
            }

            $(function () {
                $('#CONFIG_COMMON_NAME')
                    .ready(callFunction)
                    .change(callFunction);
            });
        </script>*@

        <div class="form-group">
            @Html.LabelFor(model => model.DIM_COMMON_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.DIM_COMMON_NAME, (SelectList)ViewBag.listDims, new { @class = "form-control" })
                @Html.HiddenFor(model => model.DIM_COMMON_NAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIM_FIELD_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIM_FIELD_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIM_FIELD_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIM_DATA_TYPE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DIM_DATA_TYPE", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DIM_DATA_TYPE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIM_FIELD_FEATURE, "DIM_FIELD_FEATURE", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(x => x.SelectedItems, (MultiSelectList)ViewBag.listFeatures, new { size = 10, width = 500 })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DERIVED_CONFIGURATION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DERIVED_CONFIGURATION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DERIVED_CONFIGURATION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}