@model IEnumerable<DHConfig.DIM_FIELD>

@{
    ViewBag.Title = "Index";
}

@section AddToHead{
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css">

    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            $('#fields').dataTable(                             
                {
                "columnDefs": [{
                    "targets": 0,
                    "orderable": false
                },
                {
                    "targets": 1,
                    "orderable": false
                },
                {
                    "targets": 2,
                    "orderable": false
                }],
                "order": [[3, "asc"]]
            });
        });
    </script>
}
<div align="right">
    @Html.Partial("~/Views/CreateNew.cshtml")
</div>


<div>
    @Html.Partial("~/Views/CurrentClient.cshtml")
</div>


<table class="table table-striped table-bordered" id="fields">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>
                CONFIG_COMMON_NAME
            </th>
            <th>
                DIM_COMMON_NAME
            </th>
            <th>
                DIM_FIELD_NAME
            </th>
            <th>
                DIM_FIELD_NAME_CLEAN
            </th>
            <th>
                DIM_DATA_TYPE
            </th>
            <th>
                DIM_FIELD_FEATURE
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink("Edit", "Edit", new { CONFIG_COMMON_NAME = item.CONFIG_COMMON_NAME, DIM_COMMON_NAME = item.DIM_COMMON_NAME, DIM_FIELD_NAME = item.DIM_FIELD_NAME, sClient = @ViewBag.sClient })</td>
                <td>@Html.ActionLink("Details", "Details", new { CONFIG_COMMON_NAME = item.CONFIG_COMMON_NAME, DIM_COMMON_NAME = item.DIM_COMMON_NAME, DIM_FIELD_NAME = item.DIM_FIELD_NAME, sClient = @ViewBag.sClient })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { CONFIG_COMMON_NAME = item.CONFIG_COMMON_NAME, DIM_COMMON_NAME = item.DIM_COMMON_NAME, DIM_FIELD_NAME = item.DIM_FIELD_NAME, sClient = @ViewBag.sClient })</td>
                <td>
                    @Html.DisplayFor(modelItem => item.CONFIG_COMMON_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIM_COMMON_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIM_FIELD_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIM_FIELD_NAME_CLEAN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIM_DATA_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIM_FIELD_FEATURE)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DERIVED_CONFIGURATION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CONFIG.CONFIG_DATA_PROCESS_PROC_SCHEMA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIM.DIM_TABLE_SCHEMA)
                    </td>*@

            </tr>
        }
    </tbody>
</table>
