@model DHConfig.DATA_SOURCE_FIELD

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Data Source Field</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SOURCE_COLUMN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOURCE_COLUMN_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOURCE_COLUMN_DATA_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOURCE_COLUMN_DATA_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAW_VIEW_COLUMN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAW_VIEW_COLUMN_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAW_VIEW_COLUMN_DATA_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAW_VIEW_COLUMN_DATA_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_DIM_HASH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_DIM_HASH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_IDENTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_IDENTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DERIVED_CONFIGURATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DERIVED_CONFIGURATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_SOURCE_FIELD_FEATURE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_SOURCE_FIELD_FEATURE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFIG.CONFIG_DATA_PROCESS_PROC_SCHEMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIG.CONFIG_DATA_PROCESS_PROC_SCHEMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_SOURCE.DATA_SOURCE_TABLE_SCHEMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_SOURCE.DATA_SOURCE_TABLE_SCHEMA)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>