@model DHConfig.DIM_TYPE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DIM_TYPE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DIM_TYPE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIM_TYPE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIM_TYPE_INCLUDE_DATA_SOURCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIM_TYPE_INCLUDE_DATA_SOURCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE_UTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE_UTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIED_DATE_UTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_DATE_UTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_BY)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DIM_TYPE_GUID }) |
    @Html.ActionLink("Back to List", "Index")
</p>